<p id="notice"><%= notice %></p>
<div class="well">
<p>
  <b>Name:</b>
  <%= @outlet.name %>
</p>

<p>
  <b>Articles:</b>
  <%= @outlet.articles %>
</p>

<p>
  <b>Distribution:</b>
  <%= @outlet.distribution %>
</p>

<p>
  <b>State:</b>
  <%= @outlet.state %>
</p>
</div>

<%= link_to 'Edit', edit_outlet_path(@outlet) %> |
<%= link_to 'Back', outlets_path %>
