<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <!-- <th>Article body</th> -->
    <th>Author</th>
    <th>Analyst</th>
    <th>Outlet</th>
    <!-- <th>Submitted</th> -->
    <th>Pubdate</th>
    <th>State</th>
    <th>Summary</th>
    <!-- <th>Url</th> -->
    <th>LOE</th>
    <th>Distribution</th>
    <th>Most important</th>
    <!-- <th></th>
    <th></th>
    <th></th> -->
  </tr>

<% @articles.each do |article| %>
      
      <tr class="well spaceUnder">
          
        <td><%= link_to article.title, article %></td>
        <!-- <td><%= article.article_body %></td> -->
        <td><%= article.author %></td>
        <td><%= article.analyst.name %></td>
        <td><%= article.outlet.name %></td>
        <!-- <td><%= article.submitted %></td> -->
        <td><%= article.pubdate %></td>
        <td><%= article.state %></td>
        <td><%= article.summary %></td>
        <!-- <td><%= article.url %></td> -->
        <td><%= article.loe.map(&:name).map(&:inspect).join(', ') %></td>
        <td><%= article.distribution %></td>
        <td><%= article.most_important %></td>
    <!--     <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td> -->
        <!-- <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->

      </tr>

<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
