<p id="notice"><%= notice %></p>
<div class="well">
<p>
  <b>Name:</b>
  <%= @loe.name %>
</p>

<p>
  <b>Customer:</b>
  <%= @loe.customer %>
</p>

<p>
  <b>Article:</b>
  <%= @loe.article %>
</p>
</div>

<%= link_to 'Edit', edit_lo_path(@loe) %> |
<%= link_to 'Back', loes_path %>
